%h1 Messages

%table.table
  %thead
    %tr
      %th User
      %th Recipient
      %th Sent via
      %th Message Template
      %th Success
      %th Sent At
      %th

  %tbody
    - @messages.each do |message|
      - user = User.where(uuid: message.uuid).first
      %tr
        - if user.try(:display_name)
          %td= user.display_name
        - else
          %td= message.uuid
        %td= message.recipient
        %td= message.notification_method
        - if message.message_template
          %td= link_to message.message_template_key.humanize, edit_notifun_message_template_path(message.message_template)
        - else
          %td= message.message_template_key.humanize
        %td= message.success ? "Yes" : "No"
        %td= message.created_at.in_time_zone(Notifun.configuration.time_zone).strftime("%D %l:%M %Z")
        %td= link_to "View", message

.notifun-center
  - if @page == 1
    %span ← Previous
  - else
    = link_to '← Previous', { page: @page - 1 }

  - (1..@pages).each do |p|
    - if p == @page
      %em= @page
    - else
      = link_to p, { page: p }

  - if @page == @pages
    %span Next →
  - else
    = link_to 'Next →', { page: @page + 1 }
