%h1 Message Templates

%table.notifun-table
  %thead
    %tr
      %th
      %th Sent via
      %th

  %tbody
    - @message_templates.where(category: nil).each do |message_template|
      %tr
        %td= message_template.description
        %td= message_template.sent_via
        - if message_template.editable
          %td= link_to "Edit", edit_notifun_message_template_path(message_template)
        - else
          %td
    - @message_templates.order(:category).pluck(:category).uniq.compact.each do |category|
      %tr
        %td.notifun-category.notifun-center{colspan: 3}= category.capitalize
      - @message_templates.order(:description).where(category: category).each do |message_template|
        %tr
          %td= message_template.description
          %td= message_template.sent_via
          - if message_template.editable
            %td= link_to "Edit", edit_notifun_message_template_path(message_template)
          - else
            %td
